body {
  font-family: "Open Sans";
}

img {
  max-width: 100%;
}

p {
  font-size: 1em;
}

a, a:link, a:active {
  color: #BD4932;
  text-decoration: none;
}

a:hover, a:focus {
  color: #BD4932;
}

a:visited {
  color: #105B63;
}

hr {
  width: 60%;
}
